.w{
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid red;
}
header h1{
    color: red;
    font-size: 30px;
    text-align: center;
}
.area{

    height: 500px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.area h3{
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 40px;
    padding: 0 20px;
}
.login{
    float: right;
}
.area h3 .shang{
    color: red;
}
.re_form{
    width: 700px;
    /* background-color: pink; */
    margin: 0 auto;
    margin: 50px auto 0 ;

}
.area ul li{
    margin-bottom: 20px;
}
.area ul li label{
    display: inline-block;
    width: 80px;
    text-align: right;
}
.area ul li .inp{
    width: 240px;
    height: 30px;
    border: #ccc solid 1px;
}
.error{
    color: red;
}
.error_icon{
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/error.png) no-repeat;
}
.agree input{
    vertical-align: middle;

}
.agree{
    padding-left: 100px;
}
.agree a{
    color: blue;
}
.bun{
    width: 150px;
    height: 30px;
    margin: 0 0 0 100px;
}
/* 底部样式开始 */
.footer{
    height: 100px;
    background-color: #f5f5f5;
    padding-top: 30px;  
    margin-top: 200px; 
}
.banquan{
    text-align: center;
}
.guanyu{
    margin-bottom: 15px;
}
/* 底部样式结束 */
