<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/denglu.css">
    <title>登录</title>
</head>

<body>
    <div class="w">
        <header>
            <h1>登录账号</h1>
        </header>
        <div class="fanhui">
            <a href="/index/1/">返回首页</a>
        </div>
        <div class="login">
            <form action="/login/" method="post">
                <ul>
                    <li><label for="">用户名：</label><input type="text" name="username"></li>
                    <li><label for="">密码：</label><input type="text" name="password"></li>
                    <li><input type="submit" value="登录" class="bun"></li>
                </ul>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="w">
            <div class="banquan">
                <div class="guanyu">
                    关于我们 | 联系我们 | 联系客服 | 商家入驻 | 营销中心 | 友情链接 | 销售联盟 |
                </div>
                <div class="dizhi">
                    地址：内蒙古自治区呼和浩特市内蒙古师范大学 邮编：010000 电话：400-618-4000 传真：010-82935100 邮箱: 1243580174@qq.com
                </div>
            </div>
        </div>
    </footer>

</body>

</html>